{% extends 'base.html'%} {% block content %} {% load static %}
<section class="content">
  <div class="main-header">
    <img src="{% static 'img/twitter.png' %}" class="logo" />
    <h1>HOME</h1>
  </div>
    <section class="post_form"> 
        <form action="" method="POST" enctype="multipart/form-data">
           {% csrf_token %}
           <input type="text" name="name" placeholder="Name" required>
           <textarea name="body" placeholder="Tell us anything" maxlength="70" required></textarea>
            <div class="tweet" >
             <input style="background-color:white;" type="file" name="image" />
             <button type="submit" name="" id="" value="tweet">Tweet</button>
             </div>
        </form>
    </section>
    <section class="posts">
        <ul>
            {% for post  in posts %} 
            <li>
                <img class="menu_icon js-menu-icon" src="{%static 'img/menu.png' %}" /> 
                <div class="menu" >
                <a href="/edit/{{ post.id}} ">Edit</a><br><br>
                <a href="/delete/{{ post.id}} ">Delete</a>

                </div> 
              <div class="logo">
                  <img src="{% static 'img/user.png' %}" />
              </div> 
              <div class="name_body">  
                <div class="name">{{ post.name }} </div>
                <div class="datetime">{{ post.created_at }}</div>
                </br>
                <p>{{ post.body }} </p>
                
                {% if post.image.url %}
                <img class = "post-image" src="{{ post.image.url }}" width="100%" alt="" > 
                {% endif %}

                <form action="{% url 'like' post.pk %}" id="likes-form" method="POST">
                  {% csrf_token %}
                  <div class="row">
                    <button class="like-button" type= "submit" name="post_id" value="{{ post.id}}"></button>{{post.likes}}
                      <img style= "width: 20px; height: 20px; background-color: red;"  src="{% static 'img/like_button.png' %}"/>
                    </button>
                    <button class="like-button" data-tweet-id="123">Like</button> 
                  </div>  
                  </div>
                  </div>
                </form>
                </div>
            </li>
           {% endfor %}
        </ul>
    </section>
    <script
  src="https://code.jquery.com/jquery-3.6.2.js"
  integrity="sha256-pkn2CUZmheSeyssYw3vMp1+xyub4m+e+QK4sQskvuo4="
  crossorigin="anonymous"></script>
    <script src="{% static 'js/post.js' %}"></script>
</section>


{% endblock %}